@model PTSWebApi.Models.PtsTrialBlock

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>PtsTrialBlock</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrialBlockId" />
            <div class="form-group">
                <label asp-for="TrialBlockDescription" class="control-label"></label>
                <input asp-for="TrialBlockDescription" class="form-control" />
                <span asp-validation-for="TrialBlockDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrialEnd" class="control-label"></label>
                <input asp-for="TrialEnd" class="form-control" />
                <span asp-validation-for="TrialEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrialTypeId" class="control-label"></label>
                <select asp-for="TrialTypeId" class="form-control" asp-items="ViewBag.TrialTypeId"></select>
                <span asp-validation-for="TrialTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FieldBlockId" class="control-label"></label>
                <select asp-for="FieldBlockId" class="form-control" asp-items="ViewBag.FieldBlockId"></select>
                <span asp-validation-for="FieldBlockId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
